@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.744), rgba(0, 0, 0, 0.348)),url('./img/future.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);


}

body{
    background-color: black;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2% 5%;
    margin-bottom: 50px;
}

header nav h1{
    color: rgb(235, 142, 21);
    
}

header nav h1 span{
    color: aliceblue;
}

header nav div a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 1.1rem;
    padding: 10px 10px;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.2s ease-in-out;
}

header nav div a:hover{
    border: 1.5px solid rgb(235, 142, 21);
    border-radius: 20px;
    text-decoration: none;
}

header article{
    color: white;
    padding:  1% 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header article h1{
    font-size: 3.2rem;
    text-emphasis-color: rgb(235, 142, 21);
}

header article p {
    font-size: 1.2rem;
}

header article a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(235, 142, 21);
    color: white;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1.2rem;
    width: 200px;
    text-align: center;
}

header article a:hover{
    border: 2px solid rgb(235, 142, 21);
    background: none;
}

main{
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.855)) ;
}

.profile{
    display: flex;
    background: rgba(255, 255, 255, 0.105);
    color: rgb(255, 253, 253);
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
    border: 2px solid rgb(235, 142, 21);
}

.profile img{
    border-radius: 2rem;
    width: 100%;
    object-fit: contain;
}

.profile section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.profile section h1{
    font-size: 2rem;
    font-family: "Playwrite ES Deco", cursive;
    font-weight: 800;
    line-height: 50px;
}

.profile section p{
    color: rgb(235, 142, 21);
}

.vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    background-color: #fffffffd;
    color: black;
    margin-top: 100px;
}

.vision section{
    display: flex;
    padding: 30px;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.vision h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.vision section div{
    /* background-color: rgba(0, 0, 0, 0.314); */
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    text-align: justify;
}

.vision section div h2{
    color: #000000 ;
    margin-bottom: 10px;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 30px;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; */
}

footer{
    height: 20vh;
    display:  flex;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: rgb(235, 142, 21);
    padding: 10px 20px;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .profile{
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 880px) {
   header{
        height: 150vh ;
   }

   header article{
    width: 80%;
   }

   .vision section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
   }

   .vision section div{
    width: 90%;
    height: 300px
   }
    
}

@media only screen and (max-width: 590px) {

    header{
        height: 200vh;
    }

    header article{
        width: 100%;
        text-align: justify;
    }

    header article h1{
        text-align: center;
    }

    .profile{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .vision{
        width: 100%;
        padding: 0px;
        text-align: justify;
    }
    
    .vision section {
        width: 100%;
        
       }

    .vision section div{
        width: 100%;
        height: auto;
       }

    footer div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

